{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <body class="login">
    <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <a href="" class="-intro-x flex items-center pt-5">
                    <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="/build/images/logo.svg">
                    <span class="text-white text-lg ml-3"> Mid<span class="font-medium">One</span> </span>
                </a>
                <div class="my-auto">
                    <img alt="Midone Tailwind HTML Admin Template" class="-intro-x w-1/2 -mt-16"
                         src="/build/images/illustration.svg">
                    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                        A few more clicks to
                        <br>
                        sign in to your account.
                    </div>
                    <div class="-intro-x mt-5 text-lg text-white dark:text-gray-500">Manage all your e-commerce accounts
                        in one place
                    </div>
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <form method="post"
                      class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                        Sign In
                    </h2>
                    <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">A few more clicks to sign in to your
                        account. Manage all your e-commerce accounts in one place
                    </div>
                    <div class="intro-x mt-8">
                        <input type="email" name="email"
                               class="intro-x login__input input input--lg border border-gray-300 block"
                               placeholder="Email">
                        <input type="password" name="password"
                               class="intro-x login__input input input--lg border border-gray-300 block mt-4"
                               placeholder="Password">
                    </div>
                    <div class="intro-x flex text-gray-700 dark:text-gray-600 text-xs sm:text-sm mt-4">
                        <div class="flex items-center mr-auto">
                            <input type="checkbox" name="_remember_me" class="input border mr-2" id="remember-me">
                            <label class="cursor-pointer select-none" for="remember-me">Remember me</label>
                        </div>
                        <a href="">Forgot Password?</a>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                        <button type="submit" class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3 align-top">Login
                        </button>
                    </div>
                </form>
            </div>
            <!-- END: Login Form -->
        </div>
    </div>

    {{ encore_entry_script_tags('app') }}

    </body>
    {# <form method="post"> #}
    {# {% if error %} #}
    {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
    {# {% endif %} #}

    {# {% if app.user %} #}
    {# <div class="mb-3"> #}
    {# You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a> #}
    {# </div> #}
    {# {% endif %} #}

    {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
    {# <label for="inputEmail">Email</label> #}
    {# <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus> #}
    {# <label for="inputPassword">Password</label> #}
    {# <input type="password" name="password" id="inputPassword" class="form-control" required> #}

    {# <input type="hidden" name="_csrf_token" #}
    {# value="{{ csrf_token('authenticate') }}" #}
    {# > #}

    {# #}{# #}
    {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
    {# See https://symfony.com/doc/current/security/remember_me.html #}

    {# <div class="checkbox mb-3"> #}
    {# <label> #}
    {# <input type="checkbox" name="_remember_me"> Remember me #}
    {# </label> #}
    {# </div> #}
    {# #}

    {# <button class="btn btn-lg btn-primary" type="submit"> #}
    {# Sign in #}
    {# </button> #}
    {# </form> #}
{% endblock %}
