{% macro mobile_nav_item(name, icon, route, children, is_active = false) %}
    {% import _self as self %}
    <li>
        <a href="{% if children | length > 0 %} javascript:; {% else %} {{ path(route) }} {% endif %}" class="menu {% if is_active %} menu--active {% endif %}">
            <div class="menu__icon"><i data-feather="{{ icon }}"></i></div>
            <div class="menu__title">{{ name }} {% if children | length > 0 %} <i data-feather="chevron-down" class="menu__sub-icon"></i> {% endif %}</div>
        </a>
        {% for childNode in children %}
            <ul class="">
                {{ self.mobile_nav_item(childNode.title, childNode.icon, childNode.route, childNode.children) }}
            </ul>
        {% endfor %}
    </li>
{% endmacro %}

{% macro side_nav_item(name, icon, route, children, is_active = false) %}
    {% import _self as self %}
    <li>
        <a href="{% if children | length > 0 %} javascript:; {% else %} {{ path(route) }} {% endif %}" class="side-menu {% if is_active %} side-menu--active {% endif %}">
            <div class="side-menu__icon"><i data-feather="{{ icon }}"></i></div>
            <div class="side-menu__title"> {{ name }} {% if children | length > 0 %} <i data-feather="chevron-down" class="side-menu__sub-icon"></i> {% endif %}</div>
        </a>
        {% for childNode in children %}
            <ul class="">
                {{ self.side_nav_item(childNode.title, childNode.icon, childNode.route, childNode.children) }}
            </ul>
        {% endfor %}
    </li>
{% endmacro %}