{# custom pagination template #}
{% if pageCount > 10 %}
    {% set breakpointAdded = true %}
{% endif %}

{% if pageCount > 1 %}
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-no-wrap items-center">
        <ul class="pagination">
            {% if first is defined and current != first %}
                <li>
                    <a class="pagination__link" href="{{ path(route, query|merge({(pageParameterName): first})) }}"> <i
                                class="w-4 h-4" data-feather="chevrons-left"></i> </a>
                </li>
            {% endif %}
            {% if previous is defined %}
                <li>
                    <a class="pagination__link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                        <i
                                class="w-4 h-4" data-feather="chevron-left"></i> </a>
                </li>
            {% endif %}

            {% for page in range(0, pagesInRange) %}
                {% if page != current %}
                    <li><a class="pagination__link"
                           href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                {% else %}
                    <li><a class="pagination__link pagination__link--active" href="">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li>
                    <a class="pagination__link" href="{{ path(route, query|merge({(pageParameterName): next})) }}"> <i
                                class="w-4 h-4" data-feather="chevron-right"></i> </a>
                </li>
            {% endif %}
            {% if last is defined and current != last %}
                <li>
                    <a class="pagination__link" href="{{ path(route, query|merge({(pageParameterName): last})) }}"> <i
                                class="w-4 h-4" data-feather="chevrons-right"></i> </a>
                </li>
            {% endif %}
        </ul>
        <select class="w-20 input box mt-3 sm:mt-0">
            <option>10</option>
            <option>25</option>
            <option>35</option>
            <option>50</option>
        </select>
    </div>
{% endif %}