<!DOCTYPE html>
<html class="light">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ encore_entry_link_tags('main') }}
    {% block stylesheets %}{% endblock %}
</head>

{% block body %}{% endblock %}
</html>
