{% import 'admin/components/navigation/navigation_item.html.twig' as nav %}

<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="" class="flex mr-auto">
            <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="/build/images/logo.svg">
        </a>
        <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2"
                                                            class="w-8 h-8 text-white transform -rotate-90"></i> </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden">

        {% for node in navigation.nodes %}
            {{ nav.mobile_nav_item(node.title, node.icon, node.route, node.children, app.request.get('_route')) }}
        {% endfor %}
    </ul>
</div>
<!-- END: Mobile Menu -->