{% import 'admin/components/navigation/navigation_item.html.twig' as nav %}


<nav class="side-nav">
    <a href="" class="intro-x flex items-center pl-5 pt-4">
        <img alt="Logo" class="w-6" src="/build/images/logo.svg">
        <span class="hidden xl:block text-white text-lg ml-3"> Mid<span class="font-medium">one</span> </span>
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
        {% for node in navigation.nodes %}
            {{ nav.side_nav_item(node.title, node.icon, node.route, node.children, app.request.get('_route') == node.route) }}
        {% endfor %}
    </ul>
</nav>
