{% extends 'admin/side_nav_layout.html.twig' %}
{% import 'admin/components/listings/components.html.twig' as listings %}

{% block title %}Devices{% endblock %}

{% block content %}
    <h2 class="intro-y text-lg font-medium mt-10">
        Devices
    </h2>
    <div class="grid grid-cols-12 gap-6 mt-5">
        {{ listings.listing_header('Add New Device', {'offset': 1, 'last': 10, 'all_entries': pagination.getTotalItemCount}, 'admin_dashboard') }}

        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                    {{ listings.table_head(['ID', 'Name', 'Last check', 'Status', 'Actions']) }}
                </thead>
                <tbody>
                {% for device in pagination %}
                <tr class="intro-x">
                    <td class="w-60">
                        {{ device.id }}
                    </td>
                    <td>
                        <a href="" class="font-medium whitespace-no-wrap">{{ device.name }}</a>
{#                        <div class="text-gray-600 text-xs whitespace-no-wrap">Electronic</div>#}
                    </td>
                    <td class="text-center">82</td>
                    <td class="w-40">
                        <div class="flex items-center justify-center text-theme-9"><i data-feather="check-square"
                                                                                      class="w-4 h-4 mr-2"></i> Active
                        </div>
                    </td>
                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                            <a class="flex items-center mr-3" href="javascript:;"> <i data-feather="check-square"
                                                                                      class="w-4 h-4 mr-1"></i> Edit
                            </a>
                            <a class="flex items-center text-theme-6" href="javascript:;" data-toggle="modal"
                               data-target="#delete-confirmation-modal"> <i data-feather="trash-2"
                                                                            class="w-4 h-4 mr-1"></i> Delete </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
